<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidclass.mepec_000.tiles">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tiles_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.androidclass.mepec_000.tiled.MainMenu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidclass.mepec_000.tiled.GameModes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.Timed_Easy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.Timed_Medium"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.Timed_Hard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.PopUpMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.EndGameMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androidclass.mepec_000.tiled.Timed_Extreme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>